.App {
  text-align: center;
}

.App-header {
  background-color: rgb(83, 100, 113);
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-link {
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  margin: 0 10px 0 10px;
}
